/*#####################################
** MAIN
#####################################*/
/* Body */
body {
    background-color: #FBFBFB;
    min-width: 1200px;
	padding-top: 50px;	/* topbar is 50px high */
}

/* trace button */
#trace {
	margin-top: 10px;
	float: right;
}

/***************
* Others
***************/
.ws_nowrap {
	white-space: nowrap;
}
.ws_pre {
	white-space: pre;
}

/***************
* Search Frame
***************/
div.TF_main_frame {	
	margin: -1px 0 0 0;		/* top right bottom left */
	padding: 10px 10px;	/* top/bottom left/right */
	background-color: #f5f5f5;
	border: 1px solid #e3e3e3;
}
div.TF_frame {	
	margin: 10px 10px;	/* top/bottom left/right */
	padding: 10px 10px;	/* top/bottom left/right */
	background-color: #f5f5f5;
	border: 1px solid #e3e3e3;
}
div.TF_main_frame td,
div.TF_frame td {
    font-family: Times New Roman, sans-serif;
}
textarea#TF_input_textarea {
	width: 700px;
	height: 230px;
	border: 1px solid grey;
	margin: 0px;
	padding: 3px 5px;
    background-image: url("/images/traceflows.png");
	background-repeat: no-repeat;
	background-position: center center;
	background-color: white;
	resize: none;
}
textarea#TF_input_textarea.hidebackground {
	background-image: none;
}

/***************
* Table
***************/
table {
	width: 100% !important;
	max-width: 100% !important;
}
/* Row colors*/
/* table tr.row_green { */
    /* background-color: #f2ffe6 !important; */
	/* -webkit-print-color-adjust: exact; */
/* } */
table tr.row_green:hover {
    background-color: #caff99 !important;
}
/* table tr.row_red { */
    /* background-color: #ffebeb !important; */
	/* -webkit-print-color-adjust: exact; */
/* } */
table tr.row_red:hover {
    background-color: #ffcccc !important;
}
table tr.row_disabled {
    background-color: #e8e8e8 !important;
	-webkit-print-color-adjust: exact;
}
table tr.row_disabled:hover {
    background-color: #d9d9d9 !important;
}
table tr.row_hoverhighlight:hover {
    background-color: #e6f5ff !important;
}

/* Cell colors*/
table td.cell_green {
	color: #009933 !important;
}
table td.cell_red {
	color: #ff0000 !important;
}
table td.cell_bg_green {
    background-color: #caff99 !important;
	-webkit-print-color-adjust: exact;
}
table td.cell_bg_red {
    background-color: #ffcccc !important;
	-webkit-print-color-adjust: exact;
}


/* .TF_table */
table.TF_table thead > tr {
	background-color:#cccccc;
}
table.TF_table th.cell_center,
table.TF_table td.cell_center,
table.TF_table th.cell_hcenter,
table.TF_table td.cell_hcenter {
	text-align: center;
}
table.TF_table th.cell_center,
table.TF_table td.cell_center,
table.TF_table th.cell_vcenter,
table.TF_table td.cell_vcenter {
	vertical-align: middle;
}
table.TF_table td > .headers_row {
	font-weight: bolder;
	/* color: #337ab7; */
}
table.TF_table th.headers_col {
	font-weight: bold;
	/* color: #337ab7; */
}

/* #table_rules */
table#table_rules th.headers_col {
	font-size: 11pt;
}
table#table_rules {
	font-size: 10pt;
}


/***************
* Rank
***************/
#table_rank {
	border: none;
}
#table_rank td:first-child {
	border-right: 1px solid #ddd;
}
#table_rank tr td {
	border-top: 1px solid #ddd;
}

#table_rank tr:first-child,
#table_rank tr:first-child td {
	border-top: none !important;
}
.row_header {
	color: #000099;
	text-align: center;
	font-weight: bold;
	/* vertical-align: middle; */
}
div.column_auto {
    /* dynamic column-width andled in JS */
	-webkit-column-gap: 10px;
	-moz-column-gap: 10px;
	column-gap: 10px;
}
a.rule_number,
a.rule_number:visited,
a.rule_number:link {
    color: #090;
    font-weight: bold;
}
.rule_number::after {
	content: ": ";
	white-space: pre;
}
.rank_rule_container {
	display: block;
	font-family: Times New Roman, sans-serif;
}
.rank_rule_container div {	/* put all child objects on the same line */
	display: inline-block;
}
.rank_exact_number {
	color: #0c0;
}
.rank_field_container::after {
	content: ",";
}
.rank_field_container:last-child::after {
	content: "";
}
ul.rank_helper_content_list {
	padding-left: 1em;
	margin-bottom: 0;
}
ul.rank_helper_content_list > li {
	list-style-type: disc;
	display: list-item;
}

/*#####################################
** DataTable modifications
#####################################*/
.dataTables_wrapper .dataTables_length {
    float: left;
	vertical-align:middle; 
	line-height: 33px;
}
div.dataTables_wrapper div.dataTables_length label {
	margin-right: 15px;
}

.dataTables_wrapper .dataTables_filter {
    float: right;
    text-align: right;
}
table.dataTable {
    border-collapse: collapse !important;
}
table tr.group {
	cursor: pointer;
}

/*#####################################
** BOOTSTRAP modifications
#####################################*/
/***************
* Navbar
***************/
.navbar-default {
    background-color: #eaeaea;
	border-color: #d9d9d9;
}
.navbar-default .navbar-nav > li > a:hover {
    background-color: #d1d1d1;
}

/* Fix weird objects positionning */
.navbar-text {
	margin-right: 15px !important;
}
button.navbar-right {
	margin-right: -5px;
}

/***************
* Panel
***************/
.TF_panel_collapsable,
.TF_heading {
	background-color: #dfdfdf !important;
}
.TF_panel_collapsable {
	cursor: pointer;
}
.TF_panel_collapsable > .panel-title:after {
    font-family: 'Glyphicons Halflings';
    content: "\e114";    
    float: right; 
    color: grey;
}
.TF_panel_collapsable.collapsed > .panel-title:after {
    content: "\e080";
}

/***************
* Popover
***************/
.popover-content {
	font-weight: normal;
}
.popover{
	max-width: 700px;
}


/*#####################################
** Firewall Objects
#####################################*/
/***************
* Firewall objects
***************/
.obj_group,
.obj_group:link,
.obj_group:visited {
	color: #000099;		/* dark blue */
	font-weight: bold;
	display: inline-block;
}

.obj_subgroup,
.obj_subgroup:link,
.obj_subgroup:visited {
	color: #7300e6;		/* purple */
	display: inline-block;
}
.negate {
	text-decoration: line-through;
}
.obj,
.obj:link,
.obj:visited {
	font-weight: bold;
	display: inline-block;
}
.obj_content_container{
	color: #737373;
	display: inline-block;
}
.obj_container{
	display: block;
}

/* TEST: objects in a colored oval */
/*.obj_group,
.obj {
    padding: 0px 6px 0px 6px;
    margin: 1px -1px 1px 0px;
    border: 1px solid #ccc;
    -moz-border-radius: 1em;
    -webkit-border-radius: 1em;
    border-radius: 1em;*/
    /* background-color: #99CCFF; */
    /* background-color: transparent; */
    /* background-color: #e9f5ff; */
/*    background-color: #f9f9f9;
	cursor: pointer;
}*/


/*#####################################
** Bootstrap alerts
#####################################*/
#TF_errorbox {
    position:fixed;
    bottom:0px;
    right:0px;
    margin:0px;
	z-index:999;
	width:500px;
}

#TF_errorbox > div.alert {
	margin: 0 5px 10px 0;	/* top right bottom left */
}